<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Space Tracker</title>
  </head>
  <body>
    <h1>🚀 Space Tracker</h1>

    <p>Welcome to the Space Tracker application.</p>

    <ul>
      <li><a href="/galaxies">Galaxies</a></li>
      <li><a href="/stars">Stars</a></li>
      <li><a href="/planets">Planets</a></li>
    </ul>
  </body>
</html>
